#footer {

	color: #fff;
	background: #D31145;
	background: -webkit-gradient(linear, left top, right top, from(#f68b1f), color-stop(32%, #e02125), color-stop(101%, #8b0027));
	background: linear-gradient(to right, #f68b1f 0%, #e02125 32%, #8b0027 101%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f68b1f', endColorstr='#8b0027',GradientType=1 );*/
}
.pd-40{
	padding: 40px 0px;
}
#footer .wrapper .col form input {
	width: 100%;
	padding: 15px 10px;
	border: 0;
	color: #fff;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	box-sizing: border-box;
}
.ft-email{
	position: relative;
}
.ft-email form button {
	position: absolute;
	width: 35px;
	height: 45px;
	right: 20px;
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}
.social-media ul li a span{
	font-size: 20px;
}
.col-1{
	width:200px;
}
.col-2{
	flex:3;
}
.col-1,.col-3{
	flex:1;
}
.social-media ul li {
	width: 30px;
	height: 30px;
	background:#fff;
	border: 1px solid;
	margin: 0px 10px 10px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.social-media ul li a{
	color: #D31145;
}
.ft-email h2{
	font-size: 25px;
	line-height: 45px;

}
.ft-email p{
	margin-bottom:8px;
}